.product{
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 18px;
    padding: 20px;
    width: 100%;
    min-height: 400px;
    min-width: 100px;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product__info{
    height: 100px;
    margin-bottom: 15px;
}
.product__price{
    margin-top: 5px;
}
.product > button{
    background: yellow;
    border:1px solid rgba(2,150,190,0.8);
    margin-top: 10px;
    color:#111;
}
.product__rating{
    display: flex;
}